<div id="###MENU_ID###" style="display: none;">
    <div id="file" text="Logout" img="resources/famfam_silk_icons/lock.png"></div>
    <div id="m2" text="Edit Profile" img="resources/famfam_silk_icons/user.png"></div>
    <div id="m3" text="Settings" img="resources/famfam_silk_icons/cog.png"></div>
    <div id="m4" text="Help" img="resources/famfam_silk_icons/help.png">
        <div id="about" text="About..."></div>
        <div id="help" text="Help" img="resources/famfam_silk_icons/help.png"></div>
        <div id="bugReporting" text="Bug Reporting"></div>
    </div>
</div>