<div id="gridbox" style="width:100%; height:100%; border: none;"></div>
<script type="text/javascript">

    var Grid = new dhtmlXGridObject('gridbox');
    Grid.setImagePath("resources/dhtmlxSuite_v403_std/sources/dhtmlxGrid/codebase/imgs/");
    Grid.setHeader("Sales, Book Title, Author");
    Grid.setInitWidths("70,250,*")
    Grid.setColAlign("right,left,left")
    Grid.setColTypes("dyn,ed,ed");
    Grid.setColSorting("int,str,str")
    Grid.init();
    Grid.load('###DATA_URL###', function(){
        if(parent.BaseLayout)
            parent.BaseLayout.cells("b").progressOff();
    }, "json");

</script>