<div id="gridbox" style="width:100%; height:100%; border: none;"></div>
<script type="text/javascript">

    var Grid = new dhtmlXGridObject('gridbox');
    Grid.setImagePath("resources/dhtmlxSuite_v403_std/sources/dhtmlxGrid/codebase/imgs/");

    Grid.setHeader("###COLUMN_HEADERS###");
    Grid.setInitWidths("###COLUMN_WIDTHS###");
    Grid.setColAlign("###COLUMN_ALIGN###");
    Grid.setColTypes("###COLUMN_TYPES###");
    Grid.setColSorting("###COLUMN_SORTING###");

    var footerText = "###FOOTER###";
    if(footerText)
        Grid.attachFooter("###FOOTER###");

    Grid.enableAutoHeight(true, document.getElementById("gridbox").offsetHeight-30, true);
    Grid.enableMultiselect(true);

    Grid.objBox.style.overflowX = "hidden";

    Grid.init();

    Grid.load('###DATA_URL###', function(){
        if(parent.BaseLayout)
            parent.BaseLayout.cells("b").progressOff();
    }, "json");

    Grid.attachEvent("onRowSelect", function(rid){
        //alert(rid);
    });

</script>