<!DOCTYPE html>
<html lang="###CONFIG_LANG###">
<head>
    <title>###CONFIG_TITLE###</title>
    <meta charset="###CONFIG_CHARSET###">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- ###CONF_METATAGS### begin -->
    <meta name="###NAME###" content="###CONTENT###"><!-- ###CONF_METATAGS### end -->
    <link href="resources/css/main.css" rel="stylesheet">
    <!-- ###CONF_CSS_FILES### begin -->
    <link href="###FILE###" rel="stylesheet"><!-- ###CONF_CSS_FILES### end -->
    <!-- ###CONF_JS_FILES### begin -->
    <script type="text/javascript" src="###FILE###"></script><!-- ###CONF_JS_FILES### end -->
</head>
<body onload="###BODY_ONLOAD###">
###MOD_LAYOUT###
</body>
</html>
