###MAIN_MENU###
<script type="text/javascript">

    var BaseLayout;
    var Menu;
    var Tree;
    var Tabbar;
    var TabGrid;

    /* Basic configuration */

    BaseLayout = new dhtmlXLayoutObject({
        parent: document.body,  // parent container
        pattern: "2U",  // Patterns, see: http://docs.dhtmlx.com/layout__patterns.html
    });

    BaseLayout.setOffsets({top: 0, right: 0, bottom: 0, left: 0});

    Menu = BaseLayout.attachMenu();
    Menu.loadFromHTML("###MAIN_MENU_ID###", true);

    /* Left pane */

    BaseLayout.cells("a").showHeader();
    BaseLayout.cells("a").setText("Customers");
    BaseLayout.cells("a").setWidth(400);
    BaseLayout.cells("a").progressOn();
    BaseLayout.cells("a").attachTree();

    /* Right top pane */

    BaseLayout.cells("b").showHeader();
    BaseLayout.cells("b").setText("");
    BaseLayout.cells("b").attachTabbar();
    BaseLayout.cells("b").progressOn();

    /* Right top pane: Tabbar */

    Tabbar = BaseLayout.cells("b").getAttachedObject();
    Tabbar.setSkin("dhx_skyblue");
    Tabbar.setTabsMode("top");
    Tabbar.setAlign("left");

    /* Left pane: Tree */

    Tree = BaseLayout.cells("a").getAttachedObject();
    Tree.setSkin("dhx_terrace");
    Tree.setDataMode("json");
    Tree.enableTreeLines(true);
    Tree.setImagePath("resources/dhtmlxSuite_v403_std/sources/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");

    Tree.loadJSON(
            '###TREE_DATA_URL###',
            function () {
                BaseLayout.cells("a").progressOff();
            }
    );

    Tree.attachEvent("onSelect", function (id) {
        BaseLayout.cells("b").progressOn();
        Tabbar.loadStruct('###TAB_DATA_URL###', function() {
            TabGrid = Tabbar.tabs("a1");
            TabGrid.attachURL("###GRID_URL###");
        });
    });

</script>