###MAIN_MENU###
<script type="text/javascript">

    var BaseLayout;
    var Menu;
    var AttachedTree;

    function doOnLoad()
    {
        /* Basic configuration */

        BaseLayout = new dhtmlXLayoutObject({
            parent: document.body,  // parent container
            pattern: "3L",  // Patterns, see: http://docs.dhtmlx.com/layout__patterns.html
            skin: "dhx_terrace" // dhx_skyblue, dhx_web or dhx_terrace
        });

        BaseLayout.setOffsets({top: 10, right: 10, bottom: 10, left: 10});

        Menu = BaseLayout.attachMenu();
        Menu.loadFromHTML("main_menu", true);
        Menu.setSkin("dhx_terrace");
        Menu.setIconsPath("resources/dhtmlxSuite_v403_std/sources/dhtmlxMenu/codebase/imgs/dhxtree_skyblue/");

        /* Left pane */

        BaseLayout.cells("a").showHeader();
        BaseLayout.cells("a").setText("Structure");
        BaseLayout.cells("a").setWidth(300);
        BaseLayout.cells("a").progressOn();
        BaseLayout.cells("a").attachTree(0);

        AttachedTree = BaseLayout.cells("a").getAttachedObject();
        AttachedTree.setDataMode("json");
        AttachedTree.enableTreeLines(true);
        AttachedTree.setImagePath("resources/dhtmlxSuite_v403_std/sources/dhtmlxTree/codebase/imgs/dhxtree_skyblue/");

        AttachedTree.loadJSON(
                '###TREE_DATA_URL###',
                function () {
                    BaseLayout.cells("a").progressOff();
                }
        );

        AttachedTree.attachEvent("onSelect", function (id) {
            BaseLayout.cells("b").detachObject(true);
            // Load Grid module into Pane B
            if (id == "1") {
                BaseLayout.cells("b").progressOn();
                BaseLayout.cells("b").attachURL("index.php?mod=grid");
            }
        });

        /* Right top pane */

        BaseLayout.cells("b").showHeader();
        BaseLayout.cells("b").setText("Datalist");

        /* Right bottom pane */

        BaseLayout.cells("c").showHeader();
        BaseLayout.cells("c").setText("Edit Data");
        BaseLayout.attachEvent("onContentLoaded", function (id) {
            BaseLayout.cells("c").progressOff();
        });
        BaseLayout.cells("c").progressOn();
        BaseLayout.cells("c").attachURL("###C_ATTACH_URL###", false);
    }

</script>